
/*etiquetas*/
@font-face {
                font-family: angsa;
                src: url('fonts/angsa.ttf');
            }

            @font-face {
                font-family: angsab;
                src: url('fonts/angsab.ttf');
            }

body {
	background: #DDDDDD;
	width: 1000px;
	margin: auto;
	position: relative;

}



/* *************************************
* *************** Header ***************
* ************************************ */
header {
	position: relative;
	top: 5px;
	margin: auto;
	width: 1000px;
	height: 90px;
	background-color: rgb(0, 102, 128);
		z-index: 99;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=rgb(0, 102, 128), endColorstr=rgb(0, 102, 128)";
	-moz-box-shadow: 0 1px 5px #999;
	-webkit-box-shadow: 0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}

#main-logo {
	float: left;
}

#main-texto {
	margin-top: -60px;
	float: right;
	text-align: center;
	width: 500px;
}
#main-texto a  {
	
	font-size: 1.5em;
	font-family: angsa;
	color: white;
	text-decoration: none;
}

/*
/* *************************************
* *********** Main Navigation **********
* ************************************ */

nav{

position: relative;
top: 10px;
margin: auto;
width: 1000px;
height: 50px;
background: #eee;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 10px;
}

li{

	float: left;
	list-style-type: none;
	padding: 6px;
	background:#006680;
	margin: 3px;
	border-radius: 5px;
	box-shadow: 0 0 10px white inset; 
	text-transform: uppercase;
}

li a{
	font-family: angsa;
	color: white;
}
ul li:hover {
	color: black;
	text-decoration: none;
	background-color: #F2b80d;
}
a:link, a:visited{  
text-decoration:none;  
} 

/* *************************************
* *************** section ***************
* ************************************ */

section {
  
float: left;
  width: 650px;
 
   margin: 20px;

background: #eee;
border-radius: 10px;
 
}
section h1{
	text-align: center;
	font-family: angsa;

}
section h3{
	
	font-family: angsa;
}
section h2{
	text-align: center;
	font-family: angsa;
}
section p{
	text-align: justify;
	font-family: angsaB;
}

#imagen{
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset;
}

/* *************************************
* *************** aside ***************
* ************************************ */

aside{
float: left;
  width: 250px;
   margin: 20px 0px;
  padding: 20px;

background: #eee;
border-radius: 10px;
}

aside h1{
	text-align: center;
	font-family: angsa;

}
aside h3{
	
	font-family: angsa;
}
aside h2{
	text-align: center;
	font-family: angsa;
}
aside p{
	text-align: justify;
	font-family: angsaB;
}
/* *************************************
* *************** Footer ***************
* ************************************ */
footer {
top: 30px;
clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
	background-color: #333;

}


footer h3 {
	font-family: angsab;
	margin-top: 30px;
	color: #fff;
	font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase;
}

footer p {
font-family: angsa;
	margin-top: 30px;
	color: #fff;
	font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase;
}
